<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Address Tracer (BETA)</title>
    <link rel="stylesheet" href="./styles/dist/tailwind.css" type="text/css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./scripts/script.js" defer></script>
</head>

<body class="transition-all">
    <div class="h-0 w-0 bg-custom_black text-custom_red-500">
        <div class="text-custom_red-400"></div>
        <div class="text-custom_red-700"></div>
        <!-- This div is solely for ensuring bg-custom_black and text-custom_red-400/500/700 don't get purged during css:build. -->
    </div>
    <%- body %>
</body>

</html>